<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="com.Capium.TestRunFiles.BK_task_journal_runner"/>
      <class name="com.Capium.TestRunFiles.BK_task_bulkedit_runner"/>-->
      <class name="com.Capium.TestRunFiles.BK_budgeting_runnerfile"/>
      <class name="com.Capium.TestRunFiles.BK_task_dividend_runner"/>
      <class name="com.Capium.TestRunFiles.BK_CIS_subcotractor_runner"/>
      <class name="com.Capium.TestRunFiles.BK_CIS_subcotractor_runner"/>
      <class name="com.Capium.TestRunFiles.BK_CIS_threehundrud_runner"/>
      <class name="com.Capium.TestRunFiles.BK_CIS_reports_runner"/>
      <class name="com.Capium.TestRunFiles.BK_CIS_contractor_settings_runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

